@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
  .text-shadow {
    --text-shadow-opacity: 0.1;
    --text-shadow: 0 2px 4px rgba(0, 0, 0, var(--text-shadow-opacity));
    text-shadow: var(--text-shadow);
  }

  .text-shadow-md {
    --text-shadow-opacity: 0.1;
    --text-shadow: 0 4px 8px rgba(0, 0, 0, var(--text-shadow-opacity)),
      0 2px 4px rgba(0, 0, 0, var(--text-shadow-opacity));
    text-shadow: var(--text-shadow);
  }

  .text-shadow-lg {
    --text-shadow-opacity: 0.1;
    --text-shadow: 0 15px 30px rgba(0, 0, 0, var(--text-shadow-opacity)),
      0 5px 15px rgba(0, 0, 0, var(--text-shadow-opacity));
    text-shadow: var(--text-shadow);
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-opacity-0 {
    --text-shadow-opacity: 0;
  }

  .text-shadow-opacity-5 {
    --text-shadow-opacity: 0.05;
  }

  .text-shadow-opacity-10 {
    --text-shadow-opacity: 0.1;
  }

  .text-shadow-opacity-20 {
    --text-shadow-opacity: 0.2;
  }

  .text-shadow-opacity-25 {
    --text-shadow-opacity: 0.25;
  }

  .text-shadow-opacity-30 {
    --text-shadow-opacity: 0.3;
  }

  .text-shadow-opacity-40 {
    --text-shadow-opacity: 0.4;
  }

  .text-shadow-opacity-50 {
    --text-shadow-opacity: 0.5;
  }

  .text-shadow-opacity-60 {
    --text-shadow-opacity: 0.6;
  }

  .text-shadow-opacity-70 {
    --text-shadow-opacity: 0.7;
  }

  .text-shadow-opacity-75 {
    --text-shadow-opacity: 0.75;
  }

  .text-shadow-opacity-80 {
    --text-shadow-opacity: 0.8;
  }

  .text-shadow-opacity-90 {
    --text-shadow-opacity: 0.9;
  }

  .text-shadow-opacity-95 {
    --text-shadow-opacity: 0.95;
  }

  .text-shadow-opacity-100 {
    --text-shadow-opacity: 1;
  }
}

html,
body,
#__next {
  @apply bg-neutral-50 text-black;
  @apply dark:bg-neutral-900 dark:text-white;
}

button {
  @apply disabled:cursor-not-allowed;
}

i {
  font-style: normal;
}

/* #region Border Colors */
.border-primary {
  @apply border-primary-800 dark:border-primary-400;
}

.border-secondary {
  @apply border-secondary-800 dark:border-secondary-400;
}

.border-info {
  @apply border-info-800 dark:border-info-400;
}

.border-error {
  @apply border-error-800 dark:border-error-400;
}

.border-warning {
  @apply border-warning-800 dark:border-warning-400;
}

.border-success {
  @apply border-success-800 dark:border-success-400;
}
/* #endregion */

/* #region Scale Transition */
.scale-enter {
  @apply scale-0 opacity-0;
}

.scale-enter-active {
  @apply scale-100 opacity-100 transition-all;
}

.scale-enter-done {
  @apply transition-all;
}

.scale-exit {
  @apply scale-100 opacity-100;
}

.scale-exit-active {
  @apply scale-0 opacity-0 transition-all;
}
/* #endregion */

/* #region Slide Transition */
.slide-enter {
  @apply -translate-x-full opacity-0;
}

.slide-enter-active {
  @apply translate-x-0 opacity-100 transition-[transform,opacity];
}

.slide-enter-done {
  @apply transition-[transform,opacity];
}

.slide-exit {
  @apply translate-x-0 opacity-100;
}

.slide-exit-active {
  @apply -translate-x-full opacity-0 transition-[transform,opacity];
}
/* #endregion */

/* #region Fade Transition */
.fade-enter {
  @apply opacity-0;
}

.fade-enter-active {
  @apply opacity-100 transition-opacity;
}

.fade-enter-done {
  @apply transition-opacity;
}

.fade-exit {
  @apply opacity-100;
}

.fade-exit-active {
  @apply opacity-0 transition-opacity;
}
/* #endregion */

/* #region Out-In Transition */
.out-in-enter {
  @apply -translate-x-full;
}

.out-in-enter-active {
  @apply translate-x-0 transition-transform;
}

.out-in-enter-done {
  @apply transition-transform;
}

.out-in-exit {
  @apply translate-x-0;
}

.out-in-exit-active {
  @apply translate-x-full transition-transform;
}
/* #endregion */

/* #region Spin Transition */
.spin-enter {
  @apply -rotate-180;
}

.spin-enter-active {
  @apply rotate-0 transition-transform;
}

.spin-enter-done {
  @apply transition-transform;
}

.spin-exit {
  @apply rotate-0;
}

.spin-exit-active {
  @apply rotate-180 transition-transform;
}
/* #endregion */

/* .toast-enter {
  left: -999px;
  @apply absolute;
}
.toast-enter-active {
  @apply absolute left-0 transition-all;
}
.toast-exit {
  @apply absolute left-0;
}
.toast-exit-active {
  left: -999px;
  @apply absolute transition-all;
} */
